body{
  background: black;
  color: white;
}

h1{
  text-align: center;
  color: green;
  letter-spacing: 0.2em;
  font-style: italic;
}

p{
  color: crimson;
}

a{
  text-decoration: none;
}

em1{
  color: green;
}

strong1{
  color: blue;
  font-style: italic;
}

img{
  align-self: auto;
  width: auto;
}

em2{
  color: yellow;
}

strong2{
  color: grey;
  font-style: oblique;
}
