/* h1{
  font-weight: bold;
  text-align: center;
}
.important {
  color: red;
}
.unimportant {
  color: blue;
} */

.important {
  color: red;
}
.unimportant {
  color: blue;
}
.cat-climate {
  background-color: yellow;
}
